<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
		<title>八仙粉塵爆事件 - 病患搜尋</title>
		<script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-64569290-1', 'auto');
			  ga('send', 'pageview');
		</script>
	</head>
	<body ng-app="PatientSearch" ng-controller="MainController">
		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
    	    <div id="navbar" class="collapse navbar-collapse">
        	  <ul class="nav navbar-nav">
            	<li class="active"><a href="index.html">查詢清單</a></li>
	            <li><a href="hospitalList.html">醫院清單</a></li>
                <li><a href="insurance.html">保險公司清單</a></li>
	            <li><a href="howToHelp.html">如何幫助傷者</a></li>
        	  </ul>
	        </div><!--/.nav-collapse -->
    	  </div>
	    </nav>
    	</br>
	    </br>
		<div class="container">
			<div class="row">
				<h2>最後更新時間:<span ng-bind="lastmodify"></span></h2>
			</div>
			<div class="row">
				<form class="form-inline">
					<label for="patientName">請輸入姓名:</label>
					<input type="text" class="form-control" id="patientName" ng-model="patientName" placeholder="請輸入欲查詢之姓名"/>
					<button class="btn btn-default" ng-click="search()">搜尋</button>
				</form>
			</div>
			<div class="row">
				<table class="table table-hover">
					<tr>
						<th>編號</th>
						<th>縣市別</th>
						<th>收治單位</th>
						<th>檢傷編號</th>
						<th>姓名</th>
						<th>性別</th>
						<th>國籍</th>
						<th>年齡</th>
						<th>救護檢傷</th>
						<th>即時動向</th>
						<th>轉診要求</th>
					</tr>
					<tr ng-repeat="patient in patientsResult | filter:searchFilter">
						<td><span ng-bind="patient['編號']"></span></td>
						<td><span ng-bind="patient['縣市別']"></span></td>
						<td><span ng-bind="patient['收治單位']"></span></td>
						<th><span ng-bind="patient['檢傷編號']"></span></th>
						<td><span ng-bind="patient['姓名']"></span></td>
						<td><span ng-bind="patient['性別']"></span></td>
						<td><span ng-bind="patient['國籍']"></span></td>
						<td><span ng-bind="patient['年齡']"></span></td>
						<td><span ng-bind="patient['救護檢傷']"></span></td>
						<td><span ng-bind="patient['即時動向']"></span></td>
						<td><span ng-bind="patient['轉診要求']"></span></td>
					</tr>
				</table>
			</div>
			<div class="row">
				資料來源:<a href="http://www.gov.taipei/ct.asp?xItem=108880666&ctNode=38161&mp=100001" target="_blank">台北市政府</a>
			</div>
		</div>
		<script>
			angular.module('PatientSearch',[])
				.controller('MainController',function($scope, $http, $filter){
					$http.get('https://raw.githubusercontent.com/harry2690/psof/gh-pages/patient.json').success(function(result) {
        				$scope.patients = result.data;
        				$scope.lastmodify = result.lastmodify;
        				
      				});
      				$scope.searchFilter = {};
      				$scope.search = function(){
        				if($scope.patientName.length >= 3){
        					$scope.searchFilter['姓名'] = $scope.patientName.substr(0,1) + '○' + $scope.patientName.substr(2);
        				}else if($scope.patientName.length == 2){
        					$scope.searchFilter['姓名'] = $scope.patientName.substr(0,1) + '○';
        				}else{
        					$scope.searchFilter['姓名'] = $scope.patientName;
        				}
        				$scope.patientsResult = $filter('filter')($scope.patients,$scope.searchFilter);;
        			}
				}
			);
		</script>
	</body>
</html>
